# Go
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Node / pnpm
node_modules/
.pnpm-store/
packages/web/.output/
packages/web/.vinxi/
packages/web/dist/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local
